body{
    margin: 0px;
}

header{
    background-color: hsl(0, 0%, 72%);
    text-align: center;
    padding: 25px;
}

.gallery{
    display: inline-block;
    border: 1px solid hsl(302, 33%, 56%);
    margin: 3px;
    width: 300px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border: 2px solid hsl(175, 80%, 51%);
}

.gallery img{
    width: 100%;
    height: 300px;
}