body{
    margin: 0px;
    background-color: hsl(180, 28%, 63%)
}

article{
    color: rgb(85, 79, 79);
}

div{
    width: 40%;
    
}

article p::first-letter{
    font-size: 2em;

}

header{
    background-color: hsl(0, 0%, 72%);
    text-align: center;
    padding: 25px;
}

.gallery{
    display: inline-block;
    border: 1px solid hsl(302, 33%, 56%);
    margin: 3px;
    width: 300px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border: 2px solid hsl(175, 80%, 51%);
}

.gallery img{
    width: 100%;
    height: 300px;
}


section{
    background-image: url(tyty.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 1041px;
    height: 350px;
    float: right;
}

section h1{
    color: rgb(205, 245, 62);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    text-shadow: 3px 3px blue;
    transform: skewY(170deg);
    padding: 70px;
   animation: grow 10s infinite, colorchange 10s infinite;
}


@keyframes grow{
    100%{transform: scale(2, 2)}
}
   
@keyframes colorchange{
    10%{color: greenyellow;}
    30%{color: green;}
    10%{color: rgb(255, 47, 47);}
    10%{color: rgb(255, 47, 227);}
}

aside{
    display: block;
}

aside #tito{
    width: 300px;
    height: 450px;
    display: block;
    float: left;
}

aside #kelechi{
    width: auto;
    height: auto;
    display: block;
    margin-top: auto;
    float: right;
    
}

aside #Mette{
    width: auto;
    height: auto;
    display: block;
    float: left;
}


aside h3{
    text-align: center;
    background-color: gray;
    color: black;
    padding: 25px;
}

#kelechiBio{
 /* background-color: hsl(33, 14%, 54%); */
 color: hsl(240, 50%, 38%);
 width: auto;
 height: 290px;
 margin-top: auto;
 margin-left: 25%;


}

#metteBio{
    color: hsl(240, 50%, 38%);
    width: auto;
    height: 300px;
    margin-top: 0px;
   }

 #titoBio{
    color: hsl(240, 50%, 38%);
    width: 80%;
    height: 300px;
    margin-top: 0px;
   }
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  .container h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .input-group {
    margin-bottom: 15px;
  }
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  .input-group input[type="text"],
  .input-group input[type="email"],
  .input-group textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .input-group textarea {
    resize: vertical;
  }
  .input-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
